/* Media Queries Mixin
**********************/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
/*Paleta de colores*/
/*font size, family y weight*/
/*Mixins*/
body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  box-sizing: border-box;
  background-image: url("../../design/active-states.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

/*Estilos del NavBar*/
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 5.5vmax;
  z-index: 3;
  border: 1px solid blue;
}
@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .nav__logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: white;
  }
}
.nav__logo img {
  width: 10vw;
}
@media only screen and (max-width: 768px) {
  .nav__logo img {
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
  }
}
.nav__logo .toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav__logo .toggle {
    display: flex;
    padding-right: 25px;
    padding-top: 20px;
  }
}
.nav__enlaces {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(5, 12%);
  justify-content: center;
  grid-gap: 20px;
  width: 30%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .nav__enlaces {
    display: block;
    margin: 25px;
    padding: 30px 0 15px 0;
    width: 87%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
  }
}
.nav__enlaces__a {
  display: inherit;
  align-items: center;
  justify-content: flex-end;
  color: #9698a6;
  font-weight: 400;
  font-size: calc(0.5em + 0.5vw);
}
@media only screen and (max-width: 768px) {
  .nav__enlaces__a {
    font-size: calc(1em + 0.7vw);
    padding-bottom: 23px;
    color: #2d314d;
  }
}
.nav__enlaces__a:hover {
  border-bottom: 4px solid green;
  color: #2d314d;
}
@media only screen and (max-width: 768px) {
  .nav__enlaces__a:hover {
    border-bottom: 0px;
  }
}
.nav__button {
  background: linear-gradient(#31d35c, #2bb7da);
  border-radius: 55px;
  padding: 0.7vmax 1.8vmax;
  border: 1px green solid;
  color: white;
}
@media only screen and (max-width: 768px) {
  .nav__button {
    display: none;
  }
}
.nav__button__a {
  color: white;
  font-weight: 400;
}

/*Estilos del Header*/
.header__container {
  display: flex;
  flex-direction: column;
}
.header__container .header {
  display: grid;
  grid-template-columns: 45% 55%;
  position: absolute;
}
.header__container .header__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  height: 100%;
  margin: 0 0 15% 25%;
}
.header__container .header__texto__h1 {
  font-size: calc(1.7em + 2vw);
  color: #2d314d;
  font-weight: 300;
  border: 1px solid red;
  margin-bottom: 5px;
}
.header__container .header__texto__p {
  font-size: calc(0.5em + 0.8vw);
  border: 1px solid red;
  color: #9698a6;
  margin-bottom: 65px;
}
.header__container .header__texto__button {
  width: 120px;
  background: linear-gradient(#31d35c, #2bb7da);
  border-radius: 55px;
  padding: 1vmax 1.8vmax;
  border: 1px green solid;
  color: white;
}
.header__container .header section {
  border: 2px solid blue;
  overflow: hidden;
}
.header__container .header section img {
  border: 1px solid orange;
  height: 1000px;
  background-size: cover;
}
.header__container .header section .header__imagen--1 {
  position: absolute;
  z-index: -1;
  border: 1px solid red;
  margin-top: -140px;
}
.header__container .header section .header__imagen--2 {
  margin-top: -30px;
  margin-left: 180px;
}