/* Media Queries Mixin
**********************/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
/*Paleta de colores*/
/*font size, family y weight*/
/*Mixins*/
body {
  margin: 0;
  padding: 0;
  background-image: url("../../design/active-states.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav {
  background-color: gray;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  color: black;
  /*Incluir Version Desktop*/
}