@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');


/*Paleta de colores*/
$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

/*font size, family y weight*/
$font-size1: 25px;
$font-size2: 20px;
$font-size3: 15px;

$font-weight1: 300;
$font-weight2: 400;
$font-family: 'Public Sans', sans-serif;

/*Mixins*/
@mixin ButtonMixin($paddingtb, $paddinglr) {
    background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 55px;
    padding: $paddingtb $paddinglr;
    border: 1px green solid;
    color: $White;
}




body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    box-sizing: border-box;
    /*background-image: url('../../design/active-states.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
}

a {
    text-decoration: none;
}


/*Estilos del NavBar*/
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:$White;
    height: 5.5vmax;
    z-index: 3;
    border: 1px solid blue;
    @include media(mobile-only) {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: transparent;
        z-index: 1;
    }
    &__logo {
        @include media(mobile-only) {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 60px;
            justify-content: space-between;
            background-color: $White;
        }
        img {
            width: 10vw;
            @include media(mobile-only) {
                width: 100%;
                padding-left: 10px;
                padding-top: 20px;
            }
        }
        .toggle {
            @include media(mobile-only) {
                display: flex;
                padding-right: 25px;
                padding-top: 20px;
                z-index: 3;
            }
        }
    }
    &__enlaces {
        border: 1px solid blue;
        display: grid;
        grid-template-columns: repeat(5, 12%);
        justify-content: center;
        grid-gap: 20px;
        width: 30%;
        height: 100%;
        @include media(mobile-only) {
            display: block;
            margin: 25px;
            padding: 30px 0 15px 0;
            width: 87%;
            text-align: center;
            background-color: $White;
            border-radius: 5px;
            z-index: 1;
        }
        &__a {
            display: inherit;
            align-items: center;
            justify-content: flex-end;
            color: $Grayish-Blue;
            font-weight: $font-weight2;
            font-size: calc(0.5em + 0.5vw);
            @include media(mobile-only) {
                font-size: calc(1em + 0.7vw);
                padding-bottom: 23px;
                color: $Dark-Blue;
            }
        }
        &__a:hover {
            border-bottom: 4px solid green;
            color: $Dark-Blue;
            @include media(mobile-only) {
                border-bottom: 0px;
            }
        }
    }
    &__button {
        @include ButtonMixin(0.7vmax, 1.8vmax);
        @include media(mobile-only) {
            display: none;
        }
        &__a {
            color: $White;
            font-weight: $font-weight2;
        }
    }
    &__button:hover {
        filter: contrast(0.5);
    }
}

/*Estilos del Header*/
.header__container {
    display: flex;
    flex-direction: column;
    background-color: $Light-Grayish-Blue;
    .header {
        display: grid;
        grid-template-columns: 45% 55%;
        position: absolute;
        height: 100%;
        z-index: -3;
        @include media(mobile-only) {
            display: flex;
            flex-direction: row;
            z-index: 0;
        }
        &__texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin: 16% 0 0 25%;
            @include media(mobile-only) {
                margin: 450px 40px;
                text-align: center;
            }
            &__h1 {
                font-size: calc(1.7em + 2vw);
                color: $Dark-Blue;
                font-weight: $font-weight2;
                border: 1px solid red;
                margin-top: -15%;
            }
            &__p {
                font-size: calc(0.6em + 0.7vw);
                border: 1px solid red;
                color: $Grayish-Blue;
                margin-top: -3%;
                padding-bottom: 20px;
                @include media(mobile-only) {
                    font-size: calc(0.8em + 0.7vw);
                }
            }
            &__button {
                width: 120px;
                @include ButtonMixin(1.1vmax, 1.8vmax);
                @include media(mobile-only) {
                    margin: 0 auto;
                }
            }
            &__button a:hover {
                filter: contrast(0.5);
            }
        }
        section {
            border: 2px solid blue;
            overflow: hidden;
            height: 125%;
            @include media(mobile-only) {
                height: 40%;
            }
            img {
                border: 1px solid orange;
                height: 1000px;
                background-size: cover;
                @include media(mobile-only) {
                    height: 500px;
                    left: 0;
                    background-size: cover;
                }
            }
            .header__imagen--mobile {
                display: none;
                @include media(mobile-only) {
                    display: flex;
                    position: absolute;
                    width: 100%;
                }
            }
            .header__imagen--1 {
                position: absolute;
                z-index: -1;
                margin-top: -140px;
                @include media(mobile-only) {
                    display: none;
                }
            }
            .header__imagen--2 {
                position: relative;
                margin-top: -50px;
                margin-left: 180px;
                z-index: 2;
                @include media(mobile-only) {
                    position: absolute;
                    margin: -85px 0 0 0;
                    left: 0;
                }
            }
        }
    }
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 780px;
    padding-bottom: 25px;
    z-index: -4;
    background-color: $Very-Light-Gray;
    @include media(mobile-only) {
        top: 400px;
        text-align: center;
    }
    &__text {
        margin-left: 11%;
        width: 43%;
        padding-bottom: 4%;
        @include media(mobile-only) {
            margin: auto;
            width: 60%;
        }
        &__h3 {
            color: $Dark-Blue;
            font-weight: $font-weight2;
            font-size: calc(1.5em + 1.1vw);
        }
        &__p {
            font-size: calc(0.6em + 0.6vw);
            line-height: 23px;
            color: $Grayish-Blue;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2%;
        margin: 0 11% 0 11%;
        @include media(mobile-only) {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__article {
            h5 {
                color: $Dark-Blue;
                font-weight: $font-weight2;
                font-size: calc(0.7em + 1vw);
                @include media(mobile-only) {
                    font-size: calc(0.9em + 1vw);
                }
            }
            p {
                color: $Grayish-Blue;
                font-size: calc(0.5em + 0.45vw);
                letter-spacing: 1px;
                line-height: 25px;
                margin-top: -10px;
                font-weight: $font-weight2;
                @include media(mobile-only) {
                    font-size: calc(0.6em + 0.8vw);
                }
            }
        }
    }
}

.articles {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 780px;
    margin-bottom: 100px;
    background-color: $Very-Light-Gray;
    @include media(mobile-only) {
        top: 450px;
    }
    h3 {
        font-size: calc(1.4em + 1.3vw);
        color: $Dark-Blue;
        font-weight: $font-weight1;
        margin-left: 10%;
        @include media(mobile-only) {
            text-align: center;
            margin-left: 0;
        }
    }
    &__section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2%;
        margin: 0 10%;
        background-color: $White;
        @include media(mobile-only) {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__noticias {
            img {
                width: 100%;
                height: 200px;
                margin-bottom: 15px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            span {
                font-size: calc(0.4em + 0.4vw);
                color: $Grayish-Blue;
                margin-left: 10%;
                @include media(mobile-only) {
                    font-size: calc(0.5em + 0.5vw);
                }
            }
            h4 {
                font-size: calc(0.6em + 0.7vw);
                color: $Dark-Blue;
                margin-left: 10%;
                margin-right: 10%;
                font-weight: $font-weight1;
                cursor: pointer;
                @include media(mobile-only) {
                    font-size: calc(0.8em + 0.8vw);
                }
            }
            h4:hover {
                color: $Lime-Green;
            }
            p {
                font-size: calc(0.5em + 0.5vw);
                color: $Grayish-Blue;
                margin-left: 10%;
                margin-right: 10%;
                @include media(mobile-only) {
                    font-size: calc(0.5em + 1.2vw);
                }
            }
        }
    }
}

.footer {
    position: relative;
    border: 1px solid rgb(46, 46, 128);
    background-color: $Dark-Blue;
    top: 730px;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include media(mobile-only) {
        display: flex;
        flex-direction: column;
        top: 500px;
    }
    &__logos {
        margin-left: 10%;
        @include media(mobile-only) {
            margin-left: 0;
        }
        &__principal {
            padding: 20px;
        }
        &__iconos img{
            padding: 5px;
            cursor: pointer;
        }
    }
    &__enlaces {
        display: flex;
        width: 35%;
        color: $White;
        @include media(mobile-only) {
            display: block;
            width: 100%;
            text-align: center;
        }
        ul {
            list-style: none;
            padding-right: 80px;
            @include media(mobile-only) {
                padding: 0;
                margin: 0;
                font-size: calc(1.1em + 1.5vw);
            }
            li {
                padding: 5px;
                cursor: pointer;
                font-size: calc(0.5em + 0.5vw);
                @include media(mobile-only) {
                    padding: 10px;
                }
            }
            li:hover {
                color: $Lime-Green;
            }
        }
    }
    &__button {
        width: 26%;
        @include media(mobile-only) {
            width: 50%;
            margin-top: 20px;
        }
        &__a {
            width: 120px;
            @include ButtonMixin(1vmax, 1.8vmax);
            margin-left: 20%;
        }
        &__a:hover {
            filter: contrast(0.7);
        }
        p {
            color: $Grayish-Blue;
            margin-top: 50px;
            @include media(mobile-only) {
                margin-top: 20px;
                font-size: 12px;
            }
        }
    }
}